<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/highlight.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ThoughtBank Blog</title>
</head>
<body>
<nav class="navbar bg-base-100">
    <a href="/" class="btn btn-ghost text-xl">Thoughtbank Blog</a>
</nav>
<div class="md:container md:mx-auto">
    <div class="md:grid md:grid-cols-4 md:gap-4">
        <main id="posts" class="md:col-span-3 mx-auto"  hx-get="/posts" hx-trigger="load">
            <span class="htmx-indicator loading loading-dots loading-md"></span>
        </main>
        <div class="md:col-span-1">
            <div class="bg-neutral rounded-md p-4 prose mb-4">
                <h3>About</h3>
                <p>
                    This tech blog employs HTMX and Haskell to create a dynamic platform that showcases Markdown-formatted content stored within MongoDB documents.
                </p>
            </div>
            <div class="prose" hx-get="/posts/summary" hx-trigger="load"></div>
        </div>
    </div>
</div>
<script type="module" src="/main.js"></script>
</body>
</html>
